<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>食品</string>
		<key>icon</key>
		<string>index_category_food.png</string>
		<key>number</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>服饰</string>
		<key>icon</key>
		<string>index_category_close.png</string>
		<key>number</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>居家</string>
		<key>icon</key>
		<string>index_category_living.png</string>
		<key>number</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>数码</string>
		<key>icon</key>
		<string>index_category_numerical.png</string>
		<key>number</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>家电</string>
		<key>icon</key>
		<string>index_category_household.png</string>
		<key>number</key>
		<string>5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>母婴</string>
		<key>icon</key>
		<string>index_category_baby.png</string>
		<key>number</key>
		<string>6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图书</string>
		<key>icon</key>
		<string>index_category_books.png</string>
		<key>number</key>
		<string>7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>家装</string>
		<key>icon</key>
		<string>index_category_decoration.png</string>
		<key>number</key>
		<string>8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美妆</string>
		<key>icon</key>
		<string>index_category_makeup.png</string>
		<key>number</key>
		<string>9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>箱包</string>
		<key>icon</key>
		<string>index_category_packet.png</string>
		<key>number</key>
		<string>10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>国际大牌</string>
		<key>icon</key>
		<string>index_category_brand.png</string>
		<key>number</key>
		<string>11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>游戏</string>
		<key>icon</key>
		<string>index_category_games.png</string>
		<key>number</key>
		<string>12</string>
	</dict>
	<dict>
		<key>name</key>
		<string>运动</string>
		<key>icon</key>
		<string>index_category_sport.png</string>
		<key>number</key>
		<string>13</string>
	</dict>
</array>
</plist>
